---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/style.css">
  <title>{{ page.title }}</title>
</head>
<body style="margin: 0;">
  <p class="navbar"><a href="/posts.html" class="backbutton">&larr;</a> <span class="navbar-path">{{ page.url }}</span></p>
  <div id="main">
  <h1>{{ page.title }}</h1>
  {{ content }}
  </div>
</body>
</html>
