---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
  
  <link rel="stylesheet" href="/style.css">
  <title>{{ page.title }}</title>
</head>
<body style="margin: 0;">
  <nav><a href="/posts.html" class="backbutton">&larr;</a> <span class="navbar-path">{{ page.url }}</span></nav>

  <article>
  <section>
    <h1>{{ page.title }}</h1>
    <div class="card section headertab">{{ page.description | newline_to_br }}</div>
  </section>
  <section>
    <div></div>
    <div class="card">
{{ content }}
    </div>
  </article>
</body>
</html>
