---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
  
  <link rel="stylesheet" href="/style.css">
  <title>{{ page.title }}</title>
</head>
<body style="margin: 0;">
  <p class="navbar"><a href="/posts.html" class="backbutton">&larr;</a> <span class="navbar-path">{{ page.url }}</span></p>
  <div id="main">
    <h1 class="section-header">{{ page.title }}</h1>
    <div class="card section" style="width: 50%; margin-bottom: 0; border-radius: 0.4em 0.4em 0 0; border-bottom: 2px dashed black">{{ page.description | newline_to_br }}</div>
    <div class="card section" style="border-top-left-radius: 0; font-size: 0.8em;">
{{ content }}
    </div>
  </div>
</body>
</html>
